body {
    margin: 0;
}

footer {
    margin-top: 100px;
}

a {
    color: black;
}

li {
    list-style: none
}

form {
    margin: 0 20%;
}

#logo {
    width: 25%;
}

.card .mb-3 {
    max-width: 540px;
}

.social {
    list-style: none;
}

.fab {
    margin-right: 10px;
}

.nav_logo {
    display: block;
}

.nav_container {
    display: flex;
    justify-content: space-around;
    margin: 0 20%;
    line-height: 10;
}

.beaba-blog {
    width: 10em;
}

.menu li {
    width: 33%;
    text-align: center;
    /* height: 30px; */
}

.menu {
    display: flex;
    padding: 0;
    margin: 0 8%;
}

.midias-sociais {
    width: 100%;
}

.sobre {
    width: 4em;
}

.news-letter {
    width: 10em;
}

.menu-div {
    align-self: center;
}

.balao-conteudo {
    width: 12em;
    margin: 15px 0;
}

.regua-conteudo {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 1em 0;
}

.post {
    width: 344px;
    height: 229px;
    position: relative;
}

.post-title {
    position: absolute;
    z-index: 2;
    top: 150px;
    width: 100%;
    height: 44px;
    background-color: #D46A43;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 26px;
}

.post-title-2 {
    position: absolute;
    z-index: 2;
    top: 150px;
    width: 100%;
    height: 44px;
    background-color: #D46A43;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 17px;
}

.carrossel {
    margin-top: 2rem;
    height: 233px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    position: relative;
}

.paginacao {
    margin-top: 2rem;
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 0px 200px 0px 200px;
}

.botao-ir {
    width: 4rem;
}

.botao-voltar {
    width: 4rem;
}

.barra-1 {
    width: 100%;
    height: 87px;
    background-color: #D46A43;
    position: absolute;
    z-index: -1;
    top: 310px;
    opacity: 0.5;
}

.barra-2 {
    width: 100%;
    height: 87px;
    background-color: #16A085;
    position: absolute;
    z-index: -1;
    top: 397px;
    opacity: 0.5;
}

.elip {
    width: 18px;
    height: 18px;
    border: 1px solid black;
    border-radius: 50%;
}

.elip.active {
    background-color: gray;
    opacity: 0.5;
}

.ebooks {
    width: 130px;
}

.post-n {
    position: relative;
}

.container {
    position: relative;
    height: 100%;
    width: 100%;
    padding: 0;
    margin: 0;
    max-width: none;
}

.container-bg {
    width: 100%;
    height: 100%;
    object-fit: contain;
    position: relative;
    bottom: 270px;
}

.conteudo {
    height: 100%;
    width: 100%;
    background-color: white;
    position: absolute;
    z-index: 0;
    top: 100px;
    display: flex;
    justify-content: space-between;
}

.barra-esquerda {
    width: 59px;
    height: 100%;
    background-color: #16A085;
    border: 1px solid #707070;
}

.barra-direita {
    width: 59px;
    height: 100%;
    background-color: #16A085;
    border: 1px solid #707070;
}

.texto {
    width: 100%;
}

.home {
    width: 121px;
    height: 65px;
    align-self: flex-start;
    margin: 20px 20px
}

.componentes-texto {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.titulo {
    font-size: 35px;
    color: #D46A43;
    margin: 40px 100px 0px 0px;
}

.corpo-texto {
    padding: 50px 100px 50px 100px;
    display: flex;
    flex-direction: column;
}

.rodape {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0px 100px 100px 100px;
    position: relative;
    z-index: 2
}

.botao-baixar {
    width: 193px;
    height: 95px;
}

.corpo-texto ol li {
    list-style: decimal;
}

.auth-context {
    width: 100%;
}

.sobrenos {
    height: 60%;
    width: 60%;
}

.recado-be {
    height: 70%;
    width: 70%;
}

.container-img {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 50px;
    left: 200px;
}

.container-img a {
    font-size: 2em;
}

.somente-imagem {
    display: flex;
    align-items: center;
    justify-content: center;
}

.carousel .item {
    margin: 0 45px;
}

.owl-dots {
    display: flex;
    justify-content: center;
    margin-top: 35px;
}

.owl-dots button {
    z-index: 999;
    margin: 0 1%;
}

.owl-nav {
    position: absolute;
    display: flex;
    justify-content: space-around;
    width: 100%;
    padding: 0 25%;
    margin-top: 20px;
}

@media only screen and (max-width: 1050px) {
    .barra-1 {
        top: 410px;
    }
    .barra-2 {
        top: 497px;
    }
    .carousel .item {
        margin: 0 45px;
    }
    .post-title-2 {
        font-size: 14px;
    }
    .midias-sociais {
        width: 11em;
    }
    .nav_container {
        margin: 0;
    }
    .menu {
        flex-direction: column;
        margin: 0;
    }
    .menu-div {
        position: absolute;
        width: 50%;
        margin-top: 100px;
        height: 147px;
    }
    .menu li {
        width: 100%;
        text-align: center;
        height: 30px;
    }
    .corpo {
        margin-top: 110px;
    }
    .sobrenos {
        height: 100%;
        width: 100%;
    }
    .recado-be {
        height: 80%;
        width: 80%;
    }
    .container-img {
        display: flex;
        align-items: center;
        justify-content: center;
        position: absolute;
        top: 50px;
        left: 100px;
        ;
    }
}


}
@media only screen and (max-width: 750px) {
    .barra-1 {
        top: 410px;
    }
    
    .barra-2 {
        top: 497px;
    }
    
    .carousel .item {
        margin: 0 45px;
    }
    
    .post-title-2 {
        font-size: 14px;
    }
    
    .owl-nav {
        padding: 0;
    }
    
    .owl-dots button {
        margin: 0 1%;
    }
    
    .nav_container {
        margin: 0;
    }
    
    .menu {
        flex-direction: column;
        margin: 0;
    }
    
    .menu-div {
        position: absolute;
        width: 50%;
        margin-top: 100px;
        height: 147px;
    }
    
    .menu li {
        width: 100%;
        text-align: center;
        height: 30px;
    }
    
    .corpo {
        margin-top: 110px;
    }
    
    .sobrenos {
        height: 100%;
        width: 100%;
    }
    
    .recado-be {
        height: 100%;
        width: 100%;
    }
    
    .container-img {
        position: absolute;
        top: 0px;
        left: 50px;
    }
}