#logo {
    width: 25%;
}

.card .mb-3 {
    max-width: 540px;
}

.social {
    list-style: none;
}

.fab {
    margin-right: 10px;
}

a {
    color: black;
}

footer {
    margin-top: 100px;
}

.nav_logo {
    display: block;
}

.nav_container {
    display: flex;
    justify-content: space-between;
    height: 13em;
}

.beaba-blog {
    width: 10em;
}

li {
    list-style: none
}

.menu li {
    margin-right: 2em;
}

.menu {
    display: flex;
    align-self: flex-end;
}

.midias-sociais {
    width: 10em;
}

.sobre {
    width: 3.8em;
}

.news-letter {
    width: 8.5em;
}

.menu-div {
    align-self: flex-end;
}

.balao-conteudo {
    width: 10em;
}

.regua-conteudo {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 2em;
}

.post {
    width: 344px;
    height: 229, 5px;
    position: relative;
}

.post-title-1 {
    position: absolute;
    z-index: 2;
    top: 150px;
    left: 98px;
    width: 344px;
    height: 44px;
    background-color: #D46A43;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 30px;
}

.post-title-2 {
    position: absolute;
    z-index: 2;
    top: 150px;
    left: 540px;
    width: 344px;
    height: 44px;
    background-color: #D46A43;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 30px;
}

.post-title-3 {
    position: absolute;
    z-index: 2;
    top: 150px;
    left: 982px;
    width: 344px;
    height: 44px;
    background-color: #D46A43;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 30px;
}

.carrossel {
    margin-top: 2rem;
    height: 233px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    position: relative;
}

.paginacao {
    margin-top: 2rem;
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 0px 200px 0px 200px;
}

.botao-ir {
    width: 4rem;
}

.botao-voltar {
    width: 4rem;
}

.barra-1 {
    width: 100%;
    height: 87px;
    background-color: #D46A43;
    position: absolute;
    z-index: -1;
    top: 30px;
    opacity: 0.5;
}

.barra-2 {
    width: 100%;
    height: 87px;
    background-color: #16A085;
    position: absolute;
    z-index: -1;
    bottom: 30px;
    opacity: 0.5;
}

.elip-1 {
    width: 18px;
    height: 18px;
    border: 1px solid black;
    border-radius: 50%;
    background-color: gray;
    opacity: 0.5;
}

.elip-2 {
    width: 18px;
    height: 18px;
    border: 1px solid black;
    border-radius: 50%;
}

.elip-3 {
    width: 18px;
    height: 18px;
    border: 1px solid black;
    border-radius: 50%;
}

.ebooks {
    width: 138px;
    height: 82px;
}